{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>{{ "profile.welcome"|trans }}</h1>

        <div class="col p-3 bg-light mt-3">
            <p>{{ "profile.hello"|trans }} {{ app.user.name }},</p>

                {% if (app.user.isVerified) %}
                    
                {% else %}
                    <p>{{ "profile.notVerified"|trans }}</p>
                {% endif %}
        </div>
</div>
{% endblock %}