{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "homepage.title"|trans }} {{ get_env("APP_TITLE") }}</h1>

		<div class="bg-light p-3 mt-3">
			<p>{{ lorem.0 }}</p>
		</div>

		<div class="bg-light p-3 mt-3">
			<p>{{ lorem.1 }}</p>
		</div>
	</div>
{% endblock %}
