{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>{{ "homepage.welcome"|trans }}</h1>

		<div class="col p-3 bg-light mb-2">
			<p>{{ lorem.0 }}</p>
		</div>
		<div class="col p-3 bg-light">
			<p>{{ lorem.1 }}</p>
		</div>
	</div>
{% endblock %}
