{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{% endblock %}

{% block page_actions %}{% endblock %}

{% block main %}
    <h1>{{ 'admin.title'|trans }}</h1>

    <p>{{ 'admin.content'|trans }}</p>
{% endblock %}
